mat-card {
    margin: 180px 400px;
    width: 400px;
    height: 270px;
    background-color: lightyellow;
    border-radius: 10px;
}

.backgroun-color {
    background-color: #3f51b5;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}