mat-card {
    background-color: lightyellow;
    border-radius: 10px;
    margin-top: 180px;
}

.background-color {
    background-color: #3f51b5;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

mat-card-subtitle {
    color: white;
    font-size: 25px;
    margin-left: 200px;
    font-weight: bold;
}

mat-card-title {
    margin-left: 60px;
    color: white;
}