<mat-toolbar color="primary">
    Welcome to the Student Self Service portal
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <img src="assets/images/high_school_students.jpeg" alt="students">
        </div>
        <div class="col-md-3">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <mat-card-title>Login to your Account</mat-card-title>
                </mat-card-header>
                <hr>
                <mat-card-content>
                    <h4>Student Self Service</h4>
                </mat-card-content>
                <mat-card-actions>
                    <button class="btn" mat-raised-button color="primary" routerLink="/login">
                        <mat-icon>person</mat-icon>
                        Login
                        <mat-icon>login</mat-icon>
                    </button>
                    <br><br>
                    <a routerLink="/register">New Registration!</a>
                </mat-card-actions>
            </mat-card>
            <br>
            <h6>Welcome to the Student Self Service portal</h6>
        </div>
    </div>
</div>