<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <mat-card class="mat-elevation-z8">
                <mat-card-header>
                    <mat-card-title>Add New Students Data</mat-card-title>
                    <mat-card-subtitle>Fill the correct data</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="studentForm" novalidate>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" placeholder="Your Full Name" formControlName="fullname">
                            <mat-error *ngIf="errorHandling('fullname', 'required')">Please provide your Name</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Age</mat-label>
                            <input matInput type="number" placeholder="Your age" formControlName="age">
                            <mat-error *ngIf="errorHandling('age', 'required')">Please provide your Age</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mobile</mat-label>
                            <input matInput type="number" placeholder="Your Mobile Number" formControlName="mobile">
                            <mat-error *ngIf="errorHandling('mobile', 'required')">Please provide your Mobile Number</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Your Email Id" formControlName="email">
                            <mat-error *ngIf="errorHandling('email', 'required')">Please provide your Email address</mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" (click)="saveData()">Save</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>