<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
    </button> Student Self Service Portal
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="logout()">
        <mat-icon>person</mat-icon>Logout</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="isShowing" mode="side" class="mat-elevation-z8">
        <button mat-button class="menu-button" [matMenuTriggerFor]="belowMenu">Main menu <mat-icon style="padding-left: 60px;">arrow_drop_down</mat-icon></button>
        <mat-menu #belowMenu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item routerLink="/dashboard/user-profile">
                    <mat-icon>person</mat-icon> User Profile
                </button>
                <button mat-menu-item routerLink="/dashboard/list">
                    <mat-icon>school</mat-icon>Student Information
                </button>
                <button mat-menu-item routerLink="/dashboard/notes">
                    <mat-icon>assignment</mat-icon>Notepad
                </button>
            </ng-template>
        </mat-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="margin: 20px;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>