.full-width {
    width: 100%;
}

button {
    margin-left: 10px;
    width: 100px;
    height: 35px;
    float: right;
    font-size: medium;
}

form {
    width: 100%;
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    height: 250px;
}