<mat-card class="mat-elevation-z8">
    <mat-card-header class="backgroun-color">
        <mat-card-title>MIT School of Business Management</mat-card-title>
        <mat-card-subtitle>Registration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signupForm" novalidate>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email address" formControlName="email">
                <mat-error *ngIf="errorHandling('email', 'required')">
                    You must provide your <strong>email</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="errorHandling('password', 'required')">
                    You must provide your <strong>password</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button style="margin-right: 10px; margin-bottom: 10px;" [disabled]="signupForm.invalid" type="submit" (click)="register()">Register</button>
    </mat-card-actions>
</mat-card>